footer {
    background-color: grey;
    color: #fff;
    padding: 1rem 0;
    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    width: 100%;
    bottom: 0;
}

footer >a {
    font-size: 30px !important;
    margin: 6px;
    color: white;
    text-decoration: none;

    width: 40px;
}

footer > a:hover {
    color: rgb(105, 15, 15);
    text-decoration: none;
}